@font-face { 
	font-family: HelveticaNeue; 
	src: url("../fonts/HelveticaNeueLTStd-LtCn.otf") format("truetype");
	font-weight: normal;
}

body{
	font-family: HelveticaNeue;
	margin: 0px;
	padding: 0px;
}

.cabecera{
	width: 100%;
	height: auto;
	background-color: #efefef;
	padding-left: 30px;
	padding-top: 5px;
}

#tadii{
	height: 455px;
}

#footer{
	position: relative;
	bottom: -120px;
	width: 100%;
	font-size: 14px;
	font-family: HelveticaNeue;
	min-height: 100px;
	background-color: #f3f3f3;
}

#foot{
	width: 100%;
	font-size: 14px;
	font-family: HelveticaNeue;
	min-height: 100px;
	background-color: #f3f3f3;
}

#btn_ingresar{
	background-color: #efefef;
	border: none;
	color: #999;
	font-family: HelveticaNeue;
}


#nav_tadii{
	font-family: HelveticaNeue;
	font-size: 26px;
}

#logoITM{
	padding: 10px;
}

.btn_users{
	height: 200px;
	width: 450px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	color: #fff;
	font-family: HelveticaNeue;
	font-size: 18px;
}

#btn_tutorado{
	background-color: #33c6a5;
}

#btn_tutor{
	background-color: #004e63;
}

#btn_coordinador{
	background-color: #666798;
}

#btn_admin{
	background-color: #89375f;
}


#admin_bg{
	height: 505px;
	background-color: #999;
}

#configUser{
	border: none;
	background-color: none;
}



#content{
	height: 700px;
}

.btn-menu{
	border: none;
	background: none;
	height: 40px;
}

.btn-back{
	border: none;
	background: none;
	height: 40px;
	width: 40px;
	font-size: 30px;
	padding: 0px;
	margin-left: 10px;
	margin-top: 10px;
	color: #fff;
}

#background_login h3{
	color: #fff;
	font-size: 28px;
	font-weight: bold;
}

#login_wrapper{
	font-family: HelveticaNeue;
	margin: 30px auto;
	width: 290px;
	height: auto;
	text-align: center;
}

#inp_sesion{
	height: 40px;
	font-size: 16px;
}

#icon_user{
	margin: 0;
	padding-left: 90px;
}