#background_login{
	background-color: #33c6a5;
	width: 100%;
	min-height: 500px;
	height: auto;
	align-content: center;
}

#sesion-tuto{
	background-color: #004e63;
	color: #fff;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
}

#sesion-tutorado{
	background-color: #004e63;
	color: #fff;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
}

.cabecera_fixed{
	position: fixed;
	width: 100%;
	top: 0;
	height: 80px;
	z-index: 130;
	background-color: #efefef;
	padding-left: 30px;
	padding-top: 5px;
}

#info_user{
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #999999;
	background-color: #fff;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #d9d9d9;
}

#divGrdCambios{
	display: none;
}

.t{
	color: #146e86;
}

.table tbody>tr>td.valign{
    vertical-align: middle;
}

.enclose{
	padding: 10px;
	border-width:medium;
	border-style: double;
	border-color: #b5b5b5;
	border-radius: 10px;
}

.enclose2{
	padding: 10px;
	border-width: thin;
	border-style: solid;
	border-color: #b5b5b5;
}

.space{
	padding-left: 30px;
}

#btn-registrar{
	margin: 10px;
}
